@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primary: #1aac83;
  --error: #e7195a;

}

body{
  background-color:#f1f1f1;
  margin: 0;
   font-family: "Poppins", sans-serif;
}
header{
background-color: #fff;


}
header .container{
  max-width:1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display:flex;
  align-items: center;
  justify-content: space-between;


 
}
header a{
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 14400px;
  padding:20px;
  margin:0 auto;
}

.home{
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap:100px;
  

}
.workout-details{
  background-color:#fff;
  border-radius:4px;
  margin:20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5 px rgpa(0,0,0,0.5);
}
.workout-details h4{
  margin:0,0,10px,0;
  font-size:1.2rem;
  color:var(--primary);
}
.workout-details p{
  margin:0;
  font-size: 0.9;
  color:#555;
}
.workout-details span{
  position: absolute;
  top:20px;
  right:20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 50%;
  color: #333;
}